@media screen and (max-width:960px) {
    .moon-menu {
        display: none;
    }
}

.hidden {
    display: none;
}

.moon-menu-text {
    color: var(--color, #fff);
    font-weight: 400;
    text-align: center;
    line-height: 3.9rem;
    font-size: 1.2rem;
    display: none
}

.moon-menu {
    --moon-cricle: #607d8b;
    --color: #fff;
    --moon-item-bg-color: #000
}

.moon-content {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 1rem 0 1rem;
    transition-duration: 378ms;
    line-height: .8em;
    display: none;
}

.moon-content::-webkit-scrollbar { 
    width: 0 !important 
}


@media screen and (min-width:960px) {
    .moon-content {
        left: 0;
        width: 17.1%;
    }

    a.toc-link {
        max-width: 90%;
        font-size: 1.05em;
    }
}


a.toc-link {
    line-height: 1.45em;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    transition: opacity .5s;
    margin-top: -2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    text-decoration: none !important
}

.menu-bg {
    padding: 0 0 0 2%;
    background: #fff;
    top: 60px;
}

.mm-active {
    transform: translate(0) !important;
    animation-duration: 0.5s;
    animation-name: fadeInDown;
}

.moon-content li {
    padding-top: .6rem;
    list-style-type: none !important
}

.moon-content a {
    color: var(--text-color)
}

.toc {
    position: fixed;
    bottom: 50%;
    transform: translateY(50%);
    display: none;
    font-size: .9rem
}

.toc ul,
.toc ol {
    padding: 0;
    margin: 0
}


.toc>.toc-list li {
    list-style: none
}

.toc-list {
    padding-left: 0;
    font-size: 12px;
    color: #8590a6;
}

.toc-list ol {
    padding-inline-start: 10px;
}

a.toc-link:hover {
    color: #4786d6;
}

.is-active-link {
    font-weight: 500
}

.is-collapsible {
    max-height: 1000px;
    overflow: hidden;
    transition: all .3s ease-in-out
}

.is-collapsed {
    max-height: 0
}

.is-position-fixed {
    position: fixed !important;
    top: 0
}

.toc-link:after {
    width: 0
}

.toc-hover {
    opacity: 1 !important;
    color: #4786d6;
}

span.toc-link-dot {
    background: var(--night-toc-bg-color);
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    transition: background .5s;
    pointer-events: none
}

.node-name--H1 span {
    width: 12px;
    height: 12px;
    border-radius: 12px;
    margin-bottom: 2px;
    margin-right: 6px
}

.node-name--H2 span {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    margin: 0 6px 4px 2px
}

.node-name--H3 span {
    width: 8px;
    height: 8px;
    border-radius: 8px;
    margin: 0 6px 4px 3px
}

.node-name--H4 span {
    width: 6px;
    height: 6px;
    border-radius: 6px;
    margin: 0 6px 5px 4px
}

.node-name--H5 span,
.node-name--H6 span {
    width: 4px;
    height: 4px;
    border-radius: 4px;
    margin: 0 6px 6px 5px
}

.is-active-link {
    color: var(--toc-active-color);
    font-weight: 700
}

.is-active-link span {
    background-color: var(--toc-bg-color) !important
}

.md-content ol>li,
.md-content ul>li {
    line-height: 1.625rem !important
}

@media only screen and (max-width:1360px) {
    .toc {
        display: none !important
    }
}

.article-content {
    position: relative
}

.toc-right-fixed {
    position: absolute;
    bottom: 0;
    transform: translateY(0)
}