@charset "UTF-8";
@font-face {
    font-family: "fangzheng";
    src: url('../fonts/FZQKBYSJW.subset.ttf') format('truetype');
}

html {
    background-color: #fff;
    -webkit-font-smoothing: antialiased
}

body {
    color: rgba(34,34,34);;
    font-family: PingHei, 'PingFang SC', Helvetica Neue, 'Work Sans', 'Hiragino Sans GB', 'Microsoft YaHei',  SimSun, sans-serif;
    font-size: 15px;
    width: 100%;
    margin: 0 auto 30px auto;
    background-color: #fff
}

p {
    line-height: 1.9em;
    font-weight: 400;
    font-size: 14px;
    word-break: break-all;
    letter-spacing: 1px;
}

a {
    text-decoration: none
}

a:link,
a:visited {
    opacity: 1;
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    -o-transition: all .15s linear;
    -ms-transition: all .15s linear;
    transition: all .15s linear;
    color: #424242
}

a:active,
a:hover {
    color: #34ace0 ;
    fill: #34ace0;
    transition: .3s;
    cursor: pointer
}

.animated {
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -ms-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    animation-duration: 0.5s
}

.animated.hinge {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px)
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0)
    }
}

@-moz-keyframes fadeInDown {
    0% {
        opacity: 0;
        -moz-transform: translateY(-20px)
    }

    100% {
        opacity: 1;
        -moz-transform: translateY(0)
    }
}

@-o-keyframes fadeInDown {
    0% {
        opacity: 0;
        -o-transform: translateY(-20px)
    }

    100% {
        opacity: 1;
        -o-transform: translateY(0)
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px)
    }

    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(20px)
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0)
    }
}

@-moz-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -moz-transform: translateX(20px)
    }

    100% {
        opacity: 1;
        -moz-transform: translateX(0)
    }
}

@-o-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -o-transform: translateX(20px)
    }

    100% {
        opacity: 1;
        -o-transform: translateX(0)
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(20px)
    }

    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -o-animation-name: fadeInDown;
    animation-name: fadeInDown
}

.content {
    height: auto;
    float: right;
    width: 100%;
    min-height: 100vh;
}

.content.no-img {
    margin-top: 60px;
}

/* page-top design and sidebar nav */

.page-top {
    width:100%;
    position: fixed;
    top: 0;
    z-index: 9;
    height: 60px;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.page-top .left-nav {
    display: flex;
    align-items: center;
    max-width:25%;
    padding-left: 5%;
}

.page-top .blog_title {
    font-family:georgia, fangzheng, serif ;
    font-size: 30px;
}


.page-top a{
    margin-right: 20px;
    height: 20px;
    width: 20px;
}

.columns {
    flex: 1 1 0px;
}


/* search page */
.search-page {
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    z-index: 10;
    background-color: #fff;
    display: none;
}

.search-page .middle {
    top: 20%;
    height: 60% ;
    position: relative;
    text-align: center;
}

.search-page .search-icon {
    width: 50px;
    margin: auto;
}

.search-page .close-search {
    font-size: 2em;
    color: #8a8a8a;
    position: fixed;
    top: 0.5rem;
    right: 1rem;
    line-height: 1;
    cursor: pointer;
}

.searchbtn {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    float:right;
    text-align: center;
}

.search-page form {
    width: 90%;
    margin: 5% auto 0;
}

.searchtxt {
    width: 80%;
    padding: 5px 10%;
    text-align: center;
    border: none;
    border-bottom: .0625rem solid #acacac;
    font-size: 2rem;
    font-weight: 300;
}


.pattern-center {
    position: relative;
    overflow: hidden;
}

@media print, screen and (min-width: 960px) {
    .pattern-center {
        max-width: 100%;
        left:0;
        right:0;
        max-height: 27.5em;
    }

    .pattern-header .cat-title {
        font-size: 2.625rem;
    }
    .content.grey-bg {
        background-color: #f9f9f9;
    }
    .pattern-attachment-img {
        height: 100%;
    }
}

.pattern-attachment-img {
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-origin: border-box;
    z-index: 5;
    overflow: hidden;
}

.pattern-attachment-img img{
	min-width: 100%;
	min-height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	pointer-events: none;
    -webkit-filter: brightness(50%);
    filter: brightness(50%);
}

.pattern-header {
    position: absolute;
    z-index: 6;
    top: 50%;
    color: #fff;
    font-family:  georgia, fangzheng, serif ;
    right: 0;
    left:0;
    text-align: center;
}


/* sidebar setting */
.sidebar {
    -webkit-background-size: cover;
    background-size: cover;
    height: 100%;
    position: fixed;
    z-index: 100;
    transition: 0.1s;
    background-color: #fff;
}


.sidebar .logo-title {
    text-align: center;
    padding-top: 100px
}

.sidebar .logo-title .logo {
    margin: 0 auto
}

.sidebar .logo-title .description {
    font-size: 14px;
}

.sidebar .logo-title .title a {
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
}

.sidebar .nav {
    font-size: 18px;
    text-align: center;
    font-family: georgia, fangzheng, serif;
}

.sidebar .nav a:hover {
    color: #4b9ece;
    /* text-decoration:underline; */
}

.sidebar .logo-title .title h3 {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1;
    margin: 20px;
}

.sidebar .social-links{
    list-style: none;
    padding: 0;
    font-size: 14px;
    text-align: center
}

.sidebar .social-links i {
    margin-right: 3px
}

.sidebar .social-links li {
    display: inline;
    padding: 0 4px;
    line-height: 0
}

.sidebar .social-links a:hover {
    color: #4786d6
}

/* post content design for article and page */
.post {
    padding: 2em;
    letter-spacing: 1px;
}

.post-entry {
    padding: 1em 2em;
}

h1, h2, h3, h4 {
    font-family: georgia, fangzheng, serif;
    font-weight: 600;
}

.post .post-title {
    font-family: georgia, fangzheng, serif;
    font-weight: bold;
}

.post-page {
    margin-top: 60px ;
}

.post-page .post-title {
  text-align: center;
  margin: 1rem;
}


.post .post-title h1 {
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 5px;
    line-height: 1
}

.post .post-title h2 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 28px;
    line-height: 1;
    font-weight: 600;
    color: #5f5f5f
}

.post .post-title h3 {
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1;
    font-weight: 600;
    color: #464646;
    font-size: 22px;
    margin: 0
}

.post .post-title a {
    text-decoration: none;
    letter-spacing: 1px;
    color: #5f5f5f
}

.post .post-title a:hover {
    text-decoration: underline
}

.post .post-content a {
    text-decoration: none;
    letter-spacing: 1px;
    color: #4786d6
}

.post .post-content a:hover {
    color: #2f69b3
}

.post .post-content h3 {
    color: #5f5f5f;
    /* font-size: 22px; */
    font-weight: 600
}

.post .post-content h4 {
    color: #5f5f5f;
    /* font-size: 16px */
}

/* 文章作者信息及元数据 */
.post .post-mid .meta {
    max-width: 100%;
    color: #666666;
    padding: .8em 0;
    font-weight: 300
}

.post-page .post-mid .meta {
    /* border-bottom: 1px solid #f0f0f0; */
    /* padding-bottom: 2em; */
    /* padding: .8em 0; */
    font-weight: 300;
    display: flex;
    flex-flow: row wrap;

}

.post-page .post-mid .meta .info {
    font-size: 14px;
    align-self: center;
    padding-left: 15px;
    line-height: 25px;
}

.blog_logo {
    overflow:hidden;
    border-radius:50%;
    border: 2px #fff outset;
}

.logo{
    align-self: center;
    line-height: unset;
}

.flex {
    display: flex;
    height: 50px;
}

.link_logo {
    /* height: 40px; */
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-right: 25px; */
    /* position:absolute; */
}

.link_logo a {
    font-size: 20px;
}

.link_logo a .fa-github {
    font-size:23px
}



@media screen and (max-width:960px) {
    .page-top .right-nav {
        display: none
    }

    .page-top .blog_title {
        text-align: right;
    }

    .pattern-center {
        min-width: 100%;
        left:0;
        max-height: 300px;
        overflow: hidden;
    }
    .pattern-attachment-img {
        height: 300px;
    }

    .pattern-header .cat-title {
        font-size: 1.625rem;
        
    }
    .menu-open-icon {
        display: none;
    }
    .post .post-mid .meta .info {
        font-size: 10px
    }

    .link_logo {
        display: none;
    }

    .sidebar {
        top: -80%;
        width: 100%;
        height: 79%;
        display: none;
        overflow: hidden;
    }
    .sidebar .logo-title {
        padding-top: 50px;
    }
    .sidebar .title img {
        display: none;
    }
    #comment_widget {
        margin: 30px;
    }
}

.post .post-mid .meta .info .date {
    margin-right: 10px
}

.post .post-mid .meta .info .author {
    font-weight: bold;
    font-family: georgia, fangzheng, serif;;
}

.post .post-mid .meta a {
    text-decoration: none;
    color: #666666;
    padding-right: 10px
}

.post .post-mid .meta a:hover {
    color: #4786d6
}

.post .post-mid .meta i {
    margin-right: 6px
}



.post .post-mid .tags {
    padding-bottom: 15px;
    font-size: 13px
}

.post .post-mid .tags ul {
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0
}

.post .post-mid .tags ul li {
    list-style-type: none;
    margin: 0;
    padding-right: 5px;
    display: inline
}

.post .post-mid .tags a {
    text-decoration: none;
    color: rgba(34,34,34);
    font-weight: 400
}

.post .post-mid .tags a:hover {
    text-decoration: none
}

.pagination {
    margin: 30px;
    padding: 0 0 56px 0;
}

.pagination ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 13px
}

.pagination ul li {
    margin: 0 2px 0 2px;
    display: inline;
    line-height: 1
}

.pagination ul li a {
    text-decoration: none
}

.pagination .pre {
    float: left;
}

.pagination .next {
    float: right
}

.footer.post-mid {
    clear: both;
    text-align: center;
    font-size: 10px;
    margin: 0 auto;
    bottom: 0;
    position: absolute;
    width: 100%;
    padding-bottom: 20px;
    background: #fff
}


.archive {
    width: 100%
}

.share {
    margin: 0 30px;
    display: inline-flex
}

.evernote {
    width: 32px;
    height: 32px;
    border-radius: 300px;
    background-color: #3e3e3e;
    margin-right: 5px
}

.evernote a {
    color: #fff;
    padding: 11px;
    font-size: 12px
}

.evernote a:hover {
    color: #ed6243;
    padding: 11px
}

.weibo {
    width: 32px;
    height: 32px;
    border-radius: 300px;
    background-color: #ed6243;
    margin-right: 5px
}

.weibo a {
    color: #fff;
    padding: 9px
}

.weibo a:hover {
    color: #bd4226
}

.twitter {
    width: 32px;
    height: 32px;
    border-radius: 300px;
    background-color: #59c0fd;
    margin-right: 5px
}

.twitter a {
    color: #fff;
    padding: 9px
}

.twitter a:hover {
    color: #4b9ece
}

.about {
    margin: 30px
}

.about h3 {
    font-size: 22px
}

.links {
    margin: 30px
}

.links h3 {
    font-size: 22px
}

.links a {
    cursor: pointer
}

.comment-count {
    color: #666
}

.tab-community {
    color: #666
}


a.btn {
    color: #868686;
    font-weight: 400
}

.btn {
    display: inline-block;
    position: relative;
    outline: 0;
    color: rgba(0, 0, 0, .44);
    background: 0 0;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, .15);
    white-space: nowrap;
    font-weight: 400;
    font-style: normal;
    border-radius: 999em
}

.btn:hover {
    display: inline-block;
    position: relative;
    outline: 0;
    color: #464545;
    background: 0 0;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #464545;
    white-space: nowrap;
    font-weight: 400;
    font-style: normal;
    border-radius: 999em
}

[role=back] {
    padding: .5em 1.25em;
    line-height: 1.666em
}

[role=home] {
    padding: .5em 1.25em;
    line-height: 1.666em
}

[role=navigation] {
    padding: .5em 1.25em;
    line-height: 1.666em
}

[role=tags] {
    padding: 6px 12px
}

.page_404 {
    text-align: center;
    padding-top: 50px
}


.aboutme {
    margin: 10px;
}

.tag-chips {
    text-align: center;
}


.tag-black {
    display: inline-block;
    font-family: georgia, fangzheng, serif ;;
}

@media screen and (max-width:960px) {

    p {
        letter-spacing: 2px;
    }

    .content {
        width: 100%;
        z-index: 2;
        position: absolute;
    }

    .post-title h3 {
        line-height: 1.6;
        font-size: 15px;
    }

    .footer.post-mid {
        display: none;
    }

    .share {
        display: grid;
    }
    .searchtxt {
        font-size: 18px;
    }
    .tag-chips {
        max-width: 80%;
        margin: 0 auto;
    }
    .tag-chips-text {
        margin: 5% auto 2%;
        font-size: 14px;
    }
    .tag-black {
        margin: 4px 4px 4px;
        display: inline-block;
        font-size: 14px;
        line-height: 1.4;
    }

}
.mask {
    display: none;
    position: fixed;
    background: rgba(0,0,0,0.1);
    z-index: 99;
    width:100%;
    right: 0;
    top: 0;
    bottom: 0;
}

.post .post-entry-footer .meta {
    max-width: 100%;
    border-bottom: 1.5px solid #f0f0f0;
}

.post .post-entry-footer .meta .more {
    padding: 5px 10px;
    border-radius: 15px;
    line-height: 1;
    font-size: 13px;
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #4786d6;
    border: 1px solid #4786d6;
}

@media screen and (min-width:960px) {
    .page-top .blog_title {
        text-align: center;
    }
    .page-top .right-nav {
        display: flex;
        align-items: center;
        max-width:25%;
        padding-left: 5%;
    }
    .post-entry .post-content p{
        margin: .8em 0;
        /* padding:.8em 0 */
    }

    .post {
        /* padding: 2.5em 4em 0; */
        margin: 1.5rem 19.1%
    }
    .pagination {
        margin: 1.5rem 19.1%;
        padding: 0 0 56px 0;
    }
    .sidebar{
        width: 25%;
        left: -25%;
        top: 0;
    }
    .tag-chips {
        margin: 2rem auto .5rem;
        max-width: 60%;
    }
    .tag-chips-text {
        margin: 3% auto;
        font-size: 17px;
    }
    .tag-black {
            color: #fff;
            background-color: #4786d6;
            margin: 4px 2px 8px;
            font-size: 16px;
            padding: 2px 15px;
            border: 1px solid #d9d9d9;
            border-radius: 20px;
            line-height: 1.6;
    }
    #comment_widget {
        margin: 30px 19.1%;
    }
    .active {
        color: #34ace0;
    }
    .menu-open-icon {
        font-size: 12px;
        height: 25px;
    }

}

.page-footer {
    position: relative;
    clear: both;
    text-align: center;
    font-size: 10px;
    margin: 0 auto;
    bottom: 0;
    width: 100%;
    padding-bottom: 20px;
}

.page-footer a {
    color: #a6a6a6
}

pre code.hljs {
    max-height: 28em;
    line-height: 1.5em;
    font-size: 12px;
    border: 1px solid #d4daee;
    border-radius: 4px;
    letter-spacing: 0px;
    font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
}

.katex{
    overflow-x:auto;
    overflow-y: hidden;
}
  
#slider {
position: relative;
overflow: hidden;
max-width: 100%;
margin: 0 auto;
border-radius: 4px;
}

#slider ul {
position: relative;
margin: 0 3em;
padding: 0;
height: 100vh;
list-style: none;
}

#slider ul li {
position: relative;
display: block;
float: left;
margin: 0;
padding: 0;
height: 100vh;
width: 100%;
background: #ccc;
text-align: center;
}

a.control_prev, a.control_next {
    position: absolute;
    top: 50%;
    z-index: 7;
    display: block;
    padding: 0 3%;
    width: auto;
    height: auto;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 30px;
    opacity: 0.6;
    cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
opacity: 1;
-webkit-transition: all 0.2s ease;
}

a.control_prev {
    border-radius: 0 2px 2px 0;
}

a.cat-title {
    color: #fff;
}

a.control_next {
    right: 0;
    border-radius: 2px 0 0 2px;
}
